<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uls.caroccupationtool.jdbc.mapper.UserMapper">

  <select id="selectAllUsers" resultType="com.uls.caroccupationtool.jdbc.entity.UserEntity">
    SELECT
    	u.id,
    	u.email,
    	u.firstname,
    	u.lastname
    FROM
    	users u;
  </select>
  
  <select id="lookupUserById" resultType="com.uls.caroccupationtool.jdbc.entity.UserEntity">
    SELECT
    	u.id,
    	u.email,
    	u.firstname,
    	u.lastname
    FROM
    	users u
    WHERE
    	u.id = #{userId};
  </select>

</mapper>